@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.about {
  font-family: 'Poppins', sans-serif;
}

.writersLink a{
  font-size: 16px;
  padding-right:  7px;
  color: rgba(0, 0, 0, 0.8);
}

.writersLink a:hover {
  cursor: pointer;
  color: #e1677b;
}