@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.about {
  font-family: 'Poppins', sans-serif;
}

.writersLink li{
  font-size: 14px;
  padding: 7px;
  color: rgba(0, 0, 0, 0.8);
}

.writersLink li:hover {
  cursor: pointer;
  color: #e1677b;
}