@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container {
  font-family: 'Poppins', sans-serif;
}

.container a {
  font-size: 30px;
  font-weight: 600;
  color: #152035;
  line-height: 1.4;
}

.author img{
  border-radius: 50%;
  height: 26px;
  margin-right: 8px;
}
