@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap');

.footer {
  font-family: 'Poppins', sans-serif;
}

.heading {
  font-family:'lora', sans-serif;
  font-size: 30px;
  color: #454e62;
  line-height: 1.2;
  font-weight: 500;
}
.titles {
  color: #dd5269;
}

.icons a {
  font-size: 14px;
  padding: 7px;
  color: rgba(0, 0, 0, 0.8);
}

.icons a:hover {
  color: #dd5269;
}