html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.primary-button {
  color: #ffff;
  padding: 12px;
}
.tag,
.date svg {
  @apply mr-1 w-5 h-5 text-textLight;
}

.date svg {
  @apply w-4 h-4;
}
