@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.Container {
  font-family: 'Poppins', sans-serif;
}

.navLink {
  font-size: 16px;
  font-weight: 600;
  color: #152035 !important;
  padding: 15px !important;
}

.navLink:hover {
  color: #dd5269 !important;
}

.dropdown:hover {
  display: block;
}

.socialLinks li {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

.socialLinks li:hover {
  color: #dd5269;
}

.search_toggle {
  background-color: transparent;
  border: 0;
  transition: .3s ease;
  padding: 10px;
  transform: scale(1.3);
}
.search_toggle:hover {
  color: #dd5269;
}



