.pagination .page {
  padding: 0;
  margin: 0 5px;
  color: #152035;
  border: 0;
  height: 48px;
  width: 48px;
  line-height: 48px;
  text-align: center;
  font-weight: 600;
  border-radius: 0 !important;
  position: relative;
  cursor: pointer;
}

.pagination .arrow {
  font-size: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.active {
  box-shadow: none;
  color: #ffffff !important;
  padding: 0;
  margin-left: 0;
  border: 0;
  height: 48px;
  width: 48px;
  line-height: 48px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

.page:hover {
  box-shadow: none;
  color: #ffffff !important;
}

.disabled {
  font-size: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: not-allowed;
}
.disablePage {
  padding: 0;
  margin-left: 0;
  color: #152035;
  border: 0;
  height: 48px;
  width: 48px;
  line-height: 48px;
  text-align: center;
  font-weight: 600;
  border-radius: 0 !important;
  position: relative;
  cursor: not-allowed;
}
