/* .searchContainer {
  bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1100;
  background-color:rgba(0,0,0,.25) !important;
} */
.searchContainer input {
  width: 90%;
  padding: 10px 15px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 1;
}

.searchModal {
  margin: auto;
  margin-top:111px;
}

.searchContainer img{
  border-radius: 50%;
  height: 26px;
}

.heading:hover {
  color: #dd5269;
}