.secondHeader {
  font-weight: 600;
  text-align: center;
}

.blogContainer h1 {
  font-weight: 700;
}

.blogContainer h3 {
  font-size: 1.3rem;
  font-weight: inherit;
}

.author img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 8px;
}

.socialLink a {
  font-size: 18px;
  padding: 7px;
}

.socialLink a:hover {
  opacity: 0.7;
}

.cardHeader a {
  /* font-size: 20px; */
  font-weight: 600;
  /* line-height: 1.4; */
}

.writer {
  align-items: center;
}

.writer img {
  border-radius: 50%;
  height: 150px;
}

.writersLink li {
  font-size: 14px;
  padding: 7px;
}

.author a {
  font-weight: 400 !important;
}

.tags {
  font-size: 13px !important;
  font-weight: 500 !important;
}
