.author img {
  border-radius: 50%;
  height: 26px;
  margin-right: 8px;
}

.container a {
  font-size: 30px;
  font-weight: 600;
  color: #152035;
  line-height: 1.4;
}

.container a:hover {
  color: #dd5269;
}

.heading {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #152035;
  line-height: 1.4;
}

.heading span {
  color: #dd5269;
}

.tags {
  font-size: 13px !important;
  color: #788193 !important;
  font-weight: 500 !important;
}

.author a {
  font-size: 13px !important;
  color: #788193 !important;
  font-weight: 500 !important;
}